<div class="container" *ngIf="form">
    <form [formGroup]="form">
        <div class="row">
            <label>
                Name:
                <input type="text" formControlName="name" [disabled]="this.mode === FormMode.GET">
            </label>
        </div>
        <div class="row">
            <label>
                Category:
                <select class="custom-select" formControlName="category"
                        [disabled]="mode === FormMode.GET">
                    <option value="" disabled>Choose your category</option>
                    <option *ngFor="let category of CategoryEnum | keyvalue" [ngValue]="category.value">{{category.key}}</option>
                </select>
            </label>
        </div>
        <div class="row">
            <label>
                Description:
                <input type="text" formControlName="description" [disabled]="mode === FormMode.GET">
            </label>
        </div>
        <div class="row">
            <label>
                Size:
                <input type="number" formControlName="squareMeter" [disabled]="mode === FormMode.GET">
            </label>
        </div>
        <div class="row">
            <label>
                Price:
                <input type="number" formControlName="price" [disabled]="mode === FormMode.GET">
            </label>
        </div>
        <div class="row">
            <label>
                Number of Rooms:
                <input type="number" formControlName="numberOfRooms" [disabled]="mode === FormMode.GET">
            </label>
        </div>
        <div class="row">
            <label>
                Balcony:
                <mat-checkbox formControlName="hasBalcony" [disabled]="mode === FormMode.GET"></mat-checkbox>
            </label>
        </div>
        <div class="row">
            <label>
                Air condition:
                <mat-checkbox formControlName="hasAirCondition" [disabled]="mode === FormMode.GET"></mat-checkbox>
            </label>
        </div>
        <div class="row">
            <label>
                Phone:
                <input type="text" formControlName="ownerPhoneNumber" [disabled]="mode === FormMode.GET">
            </label>
        </div>
        <div class="row">
            <label>
                Longitude:
                <input type="text" formControlName="lon" [disabled]="mode === FormMode.GET">
            </label>
        </div>
        <div class="row">
            <label>
                Latitude:
                <input type="text" formControlName="lat" [disabled]="mode === FormMode.GET">
            </label>
        </div>
        <div class="row">
            <label>
                Location's name:
                <input type="text" formControlName="locationName" [disabled]="mode === FormMode.GET">
            </label>
        </div>
        <jhi-map-handler [location]="model ? model.location : location"></jhi-map-handler>
        <div *ngIf="mode !== FormMode.CREATE">
            <jhi-image-handler [mode]="mode" [imageUrls]="model.filePaths" [realEstateId]="modelId" (imageUrlsChanged)="getData()"></jhi-image-handler>
            <jhi-reservation-handler [mode]="mode" [realEstateId]="modelId"></jhi-reservation-handler>
        </div>
        <div *ngIf="mode !== FormMode.GET">
            <button type="submit" class="btn btn btn-info" (click)="onSubmit()">
                Save
            </button>
        </div>
    </form>
</div>

