<div class="container px-1 mx-0">
    <div class="row mx-0" *ngIf="isAuthenticated()">
        <div class="col-12">
            <button class="btn btn-group btn-primary" (click)="onCreate()">
                <fa-icon icon="plus" fixedWidth="true"></fa-icon>
                <span >Add new</span>
            </button>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let entity of realEstates" class="row my-1">
            <mat-card>
                <mat-card-title>
                    {{entity.name}}
                </mat-card-title>
                <mat-card-content>
                    <p>Number of rooms: {{entity.numberOfRooms}}</p>
                    <p>Price: {{entity.price}}Ft</p>
                    <p>Size: {{entity.squareMeter}}sm</p>
                    <button *ngIf="isAuthenticated()" class="btn btn-secondary" (click)="onEdit(entity.id)">Edit</button>
                    <button class="btn btn-secondary" (click)="onView(entity.id)">View</button>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
