.container-fluid {
  display: flex;
  height: 100%;

  .content {
    height: 100%;
  }
}

.footer {
  height: 40px;
  background-color: #0f6ab4;
  z-index: 1000;
  position: sticky;
  width: 100%;
  bottom: 0;
}

.menu-navbar {
  z-index: 1000;
  position: sticky;
  width: 100%;
  top: 0;
}
